*{
    margin: 0;
    padding: 0;
}

a img {
    height: 80px;
}


footer{
    height: 80px;
}


.Movies-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#card{
    width: inherit;
}

#link {
    text-decoration: none;
}

.container-about {
    height: 100vh;
}

.card-body h5{
    margin: 0;
}
.favCard-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.btn:hover{
    opacity: 70%;

}