*{
    margin: 0;
    padding: 0;
}

a img {
    height: 80px;
}


footer{
    height: 80px;
}

#card{
    width: inherit;
}

.Movies-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

